body {
    margin:0;
    padding:0;
    background-color: #292629;
}
.container {
    width: 100%;
    margin: auto;
    overflow: hidden;
}
#graphicArea{
    min-height: 670px;
    background:#292629 url('../images/organic-1280537_1280.jpg') no-repeat;
    background-size: 100% 100%;
    color: #0e0d0e;
    margin: 0 0 0 0;
    padding: 0;
}
header #name h1{
    margin: 0 0 5px 10px;
}
#name{
    float: left;
    text-align: center;
}

header {
    border-bottom: #5b1006 9px solid;
}
header li {
    display: inline;
    padding: 0 15px 0 10px;
    float: left;
}

header ul {
    margin: 0;
    padding: 0;
}
header a{
    color: aliceblue;
    text-decoration: none;
    font-size: 20px;
    display: inline-block;
}
nav {
    float: right;
    display: inline;
    padding-top: 10px;
}

.TitleHeader{
    color: aliceblue;
    background-color: darkred;
}
.container #graphicArea P{
    font-size: 24px;
    color: aliceblue;
    text-align: center;
}
.box {
    float: left;
    margin-left: 22%;
    margin-top: 490px;
}
#imageLinks .box p{
    color: #fffef1;
    margin: 0;
    font-size: 15px;
}
#imageLinks img{
    width: 80px;
    height: auto;
}
footer p{
    text-align: center;
    color: bisque;
    margin: 10px 0 10px 0;
}

footer{
    padding: 0;
    bottom: 0;
}